.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-brand {
  font-weight: bold;
  padding-left: 10px;
}

.nav-item .item {
  padding: 5px;
}

.active {
  background-color: rgba(174, 157, 247, 0.3);
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.btn--login {
  background-color: rgb(111, 84, 233) !important;
  color: white !important;
}

.btn--login:hover {
  background-color: rgba(111, 84, 233, 0.8) !important;
}

.btn--login:focus {
  outline: none;
}

.btn--login:active {
  outline: none;
}
.navbar--main .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
