@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?8i8niv');
  src: url('fonts/icomoon.eot?8i8niv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8i8niv') format('truetype'),
    url('fonts/icomoon.woff?8i8niv') format('woff'),
    url('fonts/icomoon.svg?8i8niv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
  content: '\e900';
}
.icon-bubbles:before {
  content: '\e900';
}
.icon-talk:before {
  content: '\e900';
}
.icon-message:before {
  content: '\e900';
}
.icon-conversation:before {
  content: '\e900';
}
.icon-home:before {
  content: '\e901';
}
.icon-phone:before {
  content: '\e942';
}
.icon-address-book:before {
  content: '\e944';
}
.icon-users:before {
  content: '\e972';
}
.icon-search:before {
  content: '\e986';
}
.icon-clipboard:before {
  content: '\e9b8';
}
.icon-enter:before {
  content: '\ea13';
}
.icon-access_alarm:before {
  content: '\e902';
}
.icon-bin:before {
  content: '\e9ac';
}
.icon-check-circle:before {
  content: '\e903';
}
.icon-user:before {
  content: '\e971';
}
